*~
build.properties
view/.*
public/Gastro24.css
.idea

vendor/
node_modules/
dist/

public/templates/classic/job.css
public/templates/default/job.css
public/templates/modern/job.css
public/layout.css

test/sandbox/.env

composer.lock
package-lock.json